attrs
click
dnspython
email-validator
Flask
Flask-Admin
Flask-Login
Flask-SQLAlchemy
Flask-WTF
greenlet
gunicorn
idna
iniconfig
itsdangerous
Jinja2
MarkupSafe==2.1.0
packaging
pluggy
py
pyparsing
pytest
python-dateutil
six
SQLAlchemy
toml
Werkzeug
WTForms
